/* 文章过期提醒 */
.old-message {
    padding: 5px 10px;
    font-size: 15px;
    border: 1px solid #e2e2e2;
    background-color: #eee;
    border-left: 5px solid #ed8e13;
    color: #333;
    overflow: hidden;
}
/* 字数统计 */
/* .wordcount {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
  border: 1px dashed #e0e0e0;
  padding: 1em 28px;
  margin-top: 5px;
  border-radius: 0;
  text-align: center;
} */

.tag-plugin.timeline .body img[atk-emoticon] {
  max-height: 40px;
  display: initial;
  margin: 0;
}
.tag-plugin.timeline .body img {
  max-height: 200px;
}

.bread-nav div#page-words span.sep:before {
  content: '|';
}
.bread-nav div#page-words span.updated {
  visibility: hidden;
}
.bread-nav:hover div#page-words span.updated {
  visibility: visible;
}

@media print {
  /* 隐藏元素 */
  .l_left,
  .l_right,
  .top.bread-nav.footnote,
  div#read-next,
  div#post-ai,
  div#related-posts,
  div#comments,
  section#license,
  section#share,
  #link-icon,
  footer {
    display: none;
  }
  .md-text psw {
    color: unset;
    background: unset;
    border: 3px dashed var(--block-border);
  }
  /* 隐藏锚点 */
  .markdownIt-Anchor {
    display: none; /* 隐藏原始链接内容 */
  }
  /* 修改背景和边框 */
  .article.banner {
    background: none;
    border-bottom: 1px dashed var(--block-border);
  }

  /* 调整边框圆角和内边距 */
  .banner,
  .banner.top {
    border-radius: 0;
  }

  .banner .bottom,
  table {
    padding: 0rem;
  }

  /* 取消grid布局 */
  #start {
    display: unset;
  }
  /* 调整字的上下边距 */
  p {
    margin: 0 !important;
  }
  /* 调整标题的上外边距 */
  h1,h2,h3,h4,h5, h6 {
    margin: 0 !important;
  }
  table {
    overflow-x: hidden !important; /* 隐藏水平滚动条 */
    /* white-space: nowrap; 禁止内容换行 */
  }
  .tag-plugin.grid[bg]>.cell {
    padding: unset !important;
  }
  .l_body.story div.tag-plugin, .l_body.story p>img {
    margin-top: unset !important;
    margin-bottom: unset !important;
  }
  /* 限制图片高度 */
  img {
    max-height: 100vh;
  }
  .md-text {
    max-width: 100%;
    line-height:unset;
  }
}
/* 文章内链接：为链接使用荧光笔下划线效果 */
li:not([class]) a:not([class]),
p:not([class]) a:not([class]),
table a:not([class]) {
  padding-bottom: 0.1rem;
  background: linear-gradient(0, var(--theme-link-opa), var(--theme-link-opa)) no-repeat center bottom / 100% 40%;
}
