/* 文章过期提醒 */
.old-message {
    padding: 5px 10px;
    font-size: 15px;
    border: 1px solid #e2e2e2;
    background-color: #eee;
    border-left: 5px solid #00d1bf;
    color: #333;
    overflow: hidden;
}
/* 字数统计 */
.expired-message {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
  border: 1px dashed #e0e0e0;
  padding: 1em 28px;
  margin-top: 5px;
  border-radius: 0;
  text-align: center;
}